.box{
    margin: 10px;
    padding:5px;
}

.row{
    margin:7px;
    margin-top: 20px;
}

#details{
    border-left: 3px solid rgb(0, 48, 80);
}

.text{
    font-weight: bold;
    font-size: large;
}

#socialmedia{
  padding: 0 auto;
}


